@charset "utf-8";

       
        #slider { width: 100%; height: 356px; position: relative; margin: 0 auto; }
        #slider #slider_right { width: 100%; height: 316px; }
        #slider #banner_container2 { width: 100%; height: 316px; position: relative; background-color: #dbf1ff; }
        #slider #slider_contents1 { width: 980px; height: 100%; margin: 0 auto; position: relative; }
        #banner_container2 .slide_banner { width: 760px; height: 316px; position: absolute; top: 0; }


        #slider #select_container { width: 100%; height: 40px; background-color: #f7f7f7; position: relative; }
        #select_container #select_menu { width: 760px; height: 40px; margin: 0 auto; }
        #select_menu li { float: left; cursor: pointer; line-height: 40px; text-align: center; padding: 0 15px; }
        #select_menu li a { font-family: 'LotteMartHappy'; }
        
        #slider .mini_ad { width: 60px; height: 90px; position: absolute; top: 5%;  left: -15%;}
        .mini_ad .hidden_adImage { display: none; width: 980px; height: 363px; position: absolute; z-index: 15; top: -18%; left: 175%; }
        .mini_ad p { width: 55px; font-size: 10px; text-align: center; background-color: #fff; border: 1px solid lightgray; border-radius: 15px; }
        .mini_ad p a { color: #e25039; }
        .mini_ad .close1 { display: none; width: 60px; height: 25px; position: absolute; bottom: 10px; right: 10px; background-color: #fff; 
                           border: 1px solid #333; line-height: 20px; display: block; cursor: pointer; font-family: 'GmarketSansMedium'; z-index: 15; }

        #slider .hidden_images2, .hidden_images3 { display: none; }
        
        #slider #select_menu li a { position: relative; transition: 0.5s; padding: 7px; }

        #select_menu li a.active::after { position: absolute; top: -20%; left: 0; content: ""; background-color: #ef544d; width: 100%; height: 4.5px;
                                          transition: transform 0.5s; transform: scaleX(1); transform-origin: center; }
        
        #slider #selected_table { background: rgba(50, 50, 50, 0.5); color: #fff; width: 220px; height: 316px; position: absolute; top: 0; right: 0; }
        #selected_table .table_menu1 { background: rgba(27, 27, 27, 0.2); border: 2px solid #666; cursor: pointer; height: 40px; }
        #selected_table .table_menu2 { border: 2px solid #666; cursor: pointer; height: 40px; }

        #selected_table .rank { width: 20%; }
        #selected_table .ranking { width: 80%; }
        #selected_table .ranking:hover { text-decoration: underline; cursor: pointer; }
        #selected_table td { font-family: 'GmarketSansLight'; font-size: 12px; height: 21.7px;}
        #selected_table th { font-size: 14px; }
        #selected_table .first_th { width: 100px; font-family: 'GmarketSansMedium'; }

        #slider #hidden_table { display: none; background: rgba(50, 50, 50, 0.5); color: #fff; width: 220px; height: 316px; position: absolute; top: 0; right: 0; }
        #hidden_table .table_menu1 { border: 2px solid #666; cursor: pointer; height: 40px; }
        #hidden_table .table_menu2 { background: rgba(27, 27, 27, 0.2); border: 2px solid #666; cursor: pointer; height: 40px; }

        #hidden_table .rank { width: 20%; }
        #hidden_table .ranking { width: 80%; }
        #hidden_table .ranking:hover { text-decoration: underline; cursor: pointer; }
        #hidden_table td { font-family: 'GmarketSansLight'; font-size: 12px; height: 21.7px; }
        #hidden_table th { font-size: 14px; }
        #hidden_table .first_th { width: 100px; font-family: 'GmarketSansMedium'; }

        #slider #ajax_bookContainer1 { width: 760px; height: 316px; display: flex; justify-content: space-around; position: absolute; top:0; }
        #ajax_bookContainer1 h3 { width: 75%; }

        #ajax_bookContainer1 .ajax_box1, .ajax_box2, .ajax_box3, .ajax_box4 { width: 25%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; }


        section { width: 980px; height: 600px; margin: 0 auto; position: relative; }
        section #ad_container2 { width: 100%; height: 130px; padding-top: 50px; display: flex; justify-content: space-around; margin: 0 auto; }
        #ad_container2 img { cursor: pointer; }

        section #line_container { display: flex; width: 640px; height: 50px; padding-top: 50px; font-family: 'GmarketSansMedium'; }
        #line_container .bottom_line1, .bottom_line2 { width: 220px; height: 22px; border-bottom: 1px solid #333; }
        #line_container p { font-size: 30px; }
        #line_container p a { color: #e25039; }


        #recommend_slide { width: 640px; height: 250px; overflow: hidden; border-bottom: 1px solid lightgray; margin-top: 100px; margin-left: 30px; }
        #recommend_slide p { background-color: gainsboro; font-size: 14px; text-align: center; padding: 10px; margin-top: 20px;}
        #recommend_slide img { width: 120px; height: 174px; }
        #recommend_slide div { width: 300px; font-family: 'YeolrinGothic-Light'; }
        #recommend_slide div img { width: 91px; height: 24px; }
        #recommend_slide ul { width: 2000px; height: 200px; }
        #recommend_slide ul li { width: 500px; height: 200px; float: left; display: flex; justify-content: space-around;  }

        section .left { position: absolute; top: 58%; left: 0; cursor: pointer; }
        section .right { position: absolute; top: 58%; right: 27%; cursor: pointer; }

        section .ad_box4 { width: 219px; height: 332px; background-color: gainsboro; position: absolute; top: 25%; right: 0%; border-top: 1px solid #333;; }

        section .over_text1 { cursor: pointer; font-size: 13px; position: absolute; top: 30%; right: 37% }
        section .over_text2 { font-size: 13px; position: absolute; top: 22%; right: 12.5%; }

        section .ad_box5 { width: 92px; height: 200px; border: 1px solid lightgray; position: absolute; top: 35%; left: -22%; }
        .ad_box5 .ad_prev, .ad_next { width: 30px; height: 30px; padding-left: 7px; cursor: pointer; }

        section .ad_box6 { width: 80px; height: 130px; position: absolute; top: 70%; left: -22%; cursor: pointer;  }
        
        #section2 { width: 980px; height: 550px; margin: 0 auto; position: relative; display: flex; flex-wrap: wrap; }
        #section2 h3 a { color: #e25039; }
        #section2 h3 { font-family: 'GmarketSansMedium'; }
        #section2 img { cursor: pointer; }

        #section2 #book_container1 { width: 37.5%; height: 350px; display: flex; flex-wrap: wrap; }
        #section2 #book_container2 { width: 37.5%; height: 350px; display: flex; flex-wrap: wrap; }
        #section2 #book_container3 { width: 25%; height: 350px; display: flex; flex-wrap: wrap; }
        #section2 .book_box1, .book_box2, .book_box3 { width: 100%; height: 100%; border: 1px solid lightgray; }

        #book_container .book_box2, .book_box3 { display: none; text-align: center; }

        #section2 #dot_container { position: absolute; top: 6%; left: 53% }
        .dot { cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; 
               transition: background-color 0.5s ease; }

        #section2 #dot_container2 { position: absolute; top: 6%; left: 80% }
        .dot2 { cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; 
                      transition: background-color 0.5s ease; }

        .active_dot { background-color: skyblue; }
        
        #section2 .section2_subject1 { position: absolute; top: 0; left: 38%; }
        #section2 .section2_subject2 { position: absolute; top: 0; right: 13%; }

        #section2 .login_box { width: 100%; height: 145px; padding-top: 10px; cursor: pointer; }

        #section3 { width: 980px; height: 600px; margin: 0 auto; }
        #section3 #line_container2 { width: 100%; height: 25px; display: flex;}
        #line_container2 .bottom_line3, .bottom_line4 { width: 400px; height: 25px; border-bottom: 1px solid #333; }
        #line_container2 p { font-size: 30px; font-family: 'GmarketSansMedium'; }
        #line_container2 p a { color: #e25039; }

        #section3 #section3_menu { width: 100%; height: 50px; margin-top: 50px; display: flex; justify-content: space-around; border-bottom: 1px solid lightgray; }
        #section3_menu li { float: left; cursor: pointer; font-family: 'LotteMartHappy'; position: relative; padding: 0 20px; }

        #section3_menu li a.active2::after { position: absolute; bottom: 0; left: 0; content: ""; background-color: #ef544d; width: 100%; height: 4.5px;
            transition: transform 0.5s; transform: scaleX(1); transform-origin: center; }
        
        #section3 #book_container4 { width: 100%; height: 250px; margin-top: 50px; display: flex; justify-content: space-between; }
        #book_container4 .Ajax_boxes1, .Ajax_boxes2, .Ajax_boxes3, .Ajax_boxes4, .Ajax_boxes5, .Ajax_boxes6 { width: 16.5%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; cursor: pointer; }

        #section3 #book_container5 { width: 100%; height: 250px; margin-top: 50px; display: flex; justify-content: space-between; }
        #book_container5 .Ajax_boxes7, .Ajax_boxes8, .Ajax_boxes9, .Ajax_boxes10, .Ajax_boxes11, .Ajax_boxes12 { width: 16.5%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; cursor: pointer; }

        #section3 #book_container6 { width: 100%; height: 250px; margin-top: 50px; display: flex; justify-content: space-between; }
        #book_container6 .Ajax_boxes13, .Ajax_boxes14, .Ajax_boxes15, .Ajax_boxes16, .Ajax_boxes17, .Ajax_boxes18 { width: 16.5%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; cursor: pointer; }

        #section3 #book_container7 { width: 100%; height: 250px; margin-top: 50px; display: flex; justify-content: space-between; }
        #book_container7 .Ajax_boxes19, .Ajax_boxes20, .Ajax_boxes21, .Ajax_boxes22, .Ajax_boxes23, .Ajax_boxes24 { width: 16.5%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; cursor: pointer; }

        #section3 #book_container8 { width: 100%; height: 250px; margin-top: 50px; display: flex; justify-content: space-between; }
        #book_container8 .Ajax_boxes25, .Ajax_boxes26, .Ajax_boxes27, .Ajax_boxes28, .Ajax_boxes29, .Ajax_boxes30 { width: 16.5%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; cursor: pointer; }

        #section3 #book_container9 { width: 100%; height: 250px; margin-top: 50px; display: flex; justify-content: space-between; }
        #book_container9 .Ajax_boxes31, .Ajax_boxes32, .Ajax_boxes33, .Ajax_boxes34, .Ajax_boxes35, .Ajax_boxes36 { width: 16.5%; height: 100%; margin: 0 auto; font-family: 'YeolrinGothic-Light'; text-align: center; cursor: pointer; }


        #section3 .ad_box7 { width: 880px; height: 80px; margin: 0 auto; cursor: pointer; margin-top: 20px; }

        #section4 { width: 980px; height: 475px; margin: 0 auto; position: relative; display: flex; justify-content: space-between; }
        #section4 > h3 { font-family: 'GmarketSansMedium'; position: absolute; top: -3%; }
        #section4 h3 a { color: #e25039; }
        #section4 .section4_left { position: absolute; top: -3%; left: 15%; cursor: pointer; }
        #section4 .section4_right { position: absolute; top: -3%; left: 20%; cursor: pointer; }

        #section4 #book_slideContainer { width: 450px; height: 400px; border-top: 1px solid #333; margin-top: 25px; overflow: hidden; }
        #book_slideContainer #ul_wrap { width: 2000px; height: 100%;  display: flex; flex-direction: column; flex-wrap: wrap; }
        #book_slideContainer #ul_wrap ul { height: 100%; display: flex; flex-direction: column; justify-content: space-around;}
        #book_slideContainer #ul_wrap ul li { height: 45%; display: flex; justify-content: space-between; }
        #book_slideContainer p { text-align: center; }
        #book_slideContainer p a { color: rgb(200, 200, 200); text-decoration: line-through; }
        #book_slideContainer h3 { font-family: 'YeolrinGothic-Light'; }
        #book_slideContainer div { width: 300px; font-family: 'YeolrinGothic-Light'; }
        #book_slideContainer #ul_wrap ul li div img { width: 91px; height: 24px; }

        #sale_container { width: 450px; height: 400px; position: relative; margin-top: 25px; }
        #sale_menu { width: 100%; height: 40px; display: flex; border-bottom: 1px solid #333; }
        #sale_menu li { float: left; width: 25%; height: 40px; font-size: 14px; line-height: 35px; text-align: center; font-weight: bold; cursor: pointer; }


        .border_active { background-color: #fff; border: 1px solid #333; border-bottom: none; color: #e25039; }


        #sale_container #product_container1 { width: 100%; height: 200px; display: flex; margin-top: 50px; align-items: flex-end; }
        #product_container1 .product_box1, .product_box2, .product_box3, .product_box4 { width: 25%; text-align: center; cursor: pointer; }
        .product_box1 p, .product_box2 p, .product_box3 p, .product_box4 p { font-size: 12px; }
        .product_box1 h5, .product_box2 h5, .product_box3 h5, .product_box4 h5 { font-size: 10.5px; }

        #sale_container #product_container2 { width: 100%; height: 200px; display: flex; margin-top: 50px; align-items: flex-end; }
        #product_container2 .product_box5, .product_box6, .product_box7, .product_box8 { width: 25%; text-align: center; cursor: pointer; }
        .product_box5, .product_box6, .product_box7, .product_box8 p { font-size: 12px; }
        .product_box5, .product_box6, .product_box7, .product_box8 h5 { font-size: 10.5px; }

        #section5 { width: 980px; height: 525px; margin: 0 auto; display: flex; justify-content: space-between; }
        #section5 h4 { font-family: 'GmarketSansMedium'; margin-top: 10px; }
        #section5 #CD_container, #DVD_container, #ED_container { width: 32.5%; height: 525px; background-color: #f8f8f8; border-top: 1px solid #333; text-align: center; position: relative; }

        #CD_container .CD_box1 { width: 100%; height: 330px; text-align: center; border-bottom: 1px solid lightgray; } 
        .CD_box1 p { font-size: 13px; }
        .CD_box1 p a { text-decoration: line-through; color: gray }
        #CD_container .CD_box2 { width: 100%; height: 175px; text-align: center; margin-top: 5px; }
        .CD_box2 ul { width: 100%; height: 100%; display: flex; justify-content: space-around; }
        .CD_box2 ul li { width: 106px; height: 100%; }
        .CD_box2 ul li p { font-size: 13px; }

        #DVD_container .DVD_box1 { width: 100%; height: 330px; text-align: center; border-bottom: 1px solid lightgray; }
        .DVD_box1 p { font-size: 13px; } 
        .DVD_box1 p a { text-decoration: line-through; color: gray }
        #DVD_container .DVD_box2 { width: 100%; height: 175px; text-align: center; margin-top: 5px; }
        .DVD_box2 ul { width: 100%; height: 100%; display: flex; justify-content: space-around; }
        .DVD_box2 ul li { width: 106px; height: 100%; }
        .DVD_box2 ul li p { font-size: 13px; }
        

        #ED_container { position: relative; }
        #ED_container .ajax_box17, .ajax_box18 { position: absolute; top: 15%; left: 17%; }
        #ED_container h3 { text-decoration: underline; }
        #ED_container p a { text-decoration: line-through; color: rgb(200, 200, 200); }
        #ED_container div > div { margin-top: 25px; text-align: center; }
        .ajax_box18 { display: none; }
        .ajax_box17 div { width: 220px; }
        .ajax_box18 div { width: 220px; }
        #ED_container .section5_left3 { position: absolute; top: 28%; left: 3%; cursor: pointer; }
        #ED_container .section5_right3 { position: absolute; top: 28%; right: 3%; cursor: pointer; }

        #section6 { width: 980px; height: 350px; margin: 0 auto; }
        #section6 #ad_container3 { width: 100%; height: 80px; display: flex; justify-content: space-between; margin-top: 15px; }
        #ad_container3 .ad_box8, .ad_box9, .ad_box10 { cursor: pointer; }

        #section6 h3 { border-bottom: 2px solid #333; margin-top: 30px; }
        #section6 #service_container { width: 100%; height: 200px; display: flex; justify-content: space-between; margin-top: 20px; }

        #service_container ul { width: 25%; height: 100%; }
        #service_container ul li { font-size: 14px;  color: #888; }
        #service_container .service_subject { font-size: 16px; font-weight: bold; margin-bottom: 5px; color: #333; }
        #service_container .service_li { cursor: pointer; }
        #service_container .service_li:hover { color: #333; }
