@charset "utf-8";

        @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GmarketSansLight';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Eulyoo1945-Regular';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * { margin: 0; padding: 0; box-sizing: border-box; }
        li, ul, ol { list-style: none; }
        a { text-decoration: none; }
        #wrap { width: 100%; height: auto; }
        header a:visited { color: #555; }
        #menu1 li:nth-of-type(2) a:visited { color: red; }
        #menu2 li a:visited { color: #333; }

        #banner_container1 { width: 100%; height: 70px; display: flex; }
        #banner_container1 .banner_box1 { width: 50%; height: 70px; background-color: #3ab2ff; position: relative; }
        #banner_container1 .banner_box2 { width: 50%; height: 70px; background-color: #c2a59d; position: relative; }

        #banner_container1 .event_banner1 { width: 480px; height: 70px; cursor: pointer; position: absolute; top: 0; right: 0; }
        #banner_contanier1 .event_banner2 { width: 480px; height: 70px; cursor: pointer; position: absolute; top: 0; left: 0; }

        header { width: 100%; height: 172px; display: flex; flex-wrap: wrap; }
        header #menu_box1 { width: 50%; height: 32px; position: relative; border-bottom: 1px solid lightgray; }
        header #menu1 { width: 25%; height: 32px; text-align: center; position: absolute; top: 0; right: 25%;  }
        #menu1 li { float: left; border: 1px solid lightgray; width: 15%; font-weight: bold; height: 100%; }
        #menu1 li a { color: #555; font-family: 'GmarketSansBold'; }
        #menu1 li:nth-of-type(2) { color: red; width: 55%; }

        header #menu_box2 { width: 50%; height: 32px; position: relative; border-bottom: 1px solid lightgray; }
        header #menu2 { width: 50%; height: 32px; text-align: center; position: absolute; top: 0; left: 5%;  }
        #menu2 li { float: left; width: 12.5%; font-weight: bold; height: 100%; }
        #menu2 li a { font-size: 10.5px; font-family: 'GmarketSansLight'; }
        
        header #logo_container { width: 37.5%; height: 100px; position: relative; border-bottom: 1px solid #111; }
        #logo_container .logo_box { width: 210px; height: 100px; position: absolute; top: 0; right: 0; } 

        header #search_container { width: 22.5%; height: 100px; position: relative; border-bottom: 1px solid #111; }
        #search_container .search_box { width: 80%; height: 50%; border-bottom: 2px solid #ef544d; margin-top: 35px; margin-left: 30px; }
        .search_box input { width: 85%; border: 1px solid #bbb; border-radius: 8px; padding: 10px 12px; font-size: 14px; }
        .search_box img { position: absolute; width: 17px; top: 47px; right: 70px; margin: 0; cursor: pointer; }

        header #ad_container { width: 40%; height: 100px; position: relative; border-bottom: 1px solid #111; }
        #ad_container .ad_box { width: 184px; height: 64px; position: absolute; top: 0; left: 0; cursor: pointer; margin-top: 20px; margin-left: 50px; }

        header #kategorie_box { width: 50%; height: 40px; position: relative; background: #ef544d; }
        #kategorie_box #menu3 { width: 55%; height: 40px; text-align: center; position: absolute; top: 0; right: 0; }
        #menu3 li { color: #fff; float: left; width: 20%; font-family: 'GmarketSansMedium'; cursor: pointer; }
        #menu3 li a { color: #fff; font-family: 'GmarketSansMedium'; }

        header #menu_box4 { width: 50%; height: 40px; position: relative; background: #ef544d; }
        #menu_box4 #menu4 { width: 50%; height: 40px; text-align: center; position: absolute; top: 0; left: 30%; }
        #menu4 li { float: left; width: 20%; font-family: 'GmarketSansLight'; cursor: pointer; }
        #menu4 li a { color: #fff1a2; font-family: 'GmarketSansMedium'; }


        #slider { width: 100%; height: 356px; position: relative; }
        #slider #banner_container2 { width: 100%; height: 316px; position: relative; background-color: #dbf1ff; }
        #banner_container2 .slide_banner { width: 760px; height: 316px; position: absolute; top: 0; left: 30%; }


        #slider #select_container { width: 100%; height: 40px; background-color: #f7f7f7; position: relative; }
        #select_container #select_menu { width: 40%; height: 40px; position: absolute; top: 0; left: 30%; }
        #select_menu li { width: 25%; float: left; cursor: pointer; }
        #select_menu li a { font-family: 'GmarketSansMedium'; }
        
        #slider .mini_ad { width: 60px; height: 90px; position: absolute; top: 5%;  left: 15%;}
        .mini_ad .hidden_adImage { display: none; width: 980px; height: 363px; position: relative; }
        .mini_ad p { width: 55px; font-size: 10px; text-align: center; background-color: #fff; border: 1px solid lightgray; border-radius: 15px; }
        .mini_ad p a { color: red; }
        .mini_ad .close1 { display: none; width: 60px; height: 25px; position: absolute; bottom: 10px; right: 10px; background-color: #fff; 
                           border: 1px solid #333; line-height: 20px; display: block; cursor: pointer; font-family: 'GmarketSansMedium'; z-index: 15; }

        #slider .hidden_images2, .hidden_images3 { display: none; }
        
        #slider #select_menu li a { position: relative; transition: 0.5s; }

        #select_menu li a.active::after { position: absolute; top: -20%; left: 0; content: ""; background-color: red; width: 100%; height: 4.5px;
                                          transition: transform 0.5s; transform: scaleX(1); transform-origin: center; }
        
        #slider #selected_table { background: rgba(50, 50, 50, 0.5); color: #fff; width: 220px; height: 316px; position: absolute; top: 0; right: 18.5%; }
        #selected_table .table_menu1 { background: rgba(27, 27, 27, 0.2); border: 2px solid #666; cursor: pointer; }
        #selected_table .table_menu2 { border: 2px solid #666; cursor: pointer; }

        #selected_table .rank { width: 20%; }
        #selected_table .ranking { width: 80%; }
        #selected_table .ranking:hover { text-decoration: underline; cursor: pointer; }
        #selected_table td { font-family: 'Eulyoo1945-Regular'; font-size: 12px; }
        #selected_table th { font-size: 14px; }
        #selected_table .first_th { width: 100px; }

        #slider #hidden_table { display: none; background: rgba(50, 50, 50, 0.5); color: #fff; width: 220px; height: 316px; position: absolute; top: 0; right: 18.5%; }
        #hidden_table .table_menu1 { border: 2px solid #666; cursor: pointer; }
        #hidden_table .table_menu2 { background: rgba(27, 27, 27, 0.2); border: 2px solid #666; cursor: pointer; }

        #hidden_table .rank { width: 20%; }
        #hidden_table .ranking { width: 80%; }
        #hidden_table .ranking:hover { text-decoration: underline; cursor: pointer; }
        #hidden_table td { font-family: 'Eulyoo1945-Regular'; font-size: 12px; }
        #hidden_table th { font-size: 14px; }
        #hidden_table .first_th { width: 100px; }

        #slider #ajax_bookContainer1 { width: 760px; height: 316px; display: flex; justify-content: space-around; position: absolute; top:0; left: 30%; }
        #ajax_bookContainer1 h3 { width: 75%; }


        section { width: 980px; height: 600px; margin: 0 auto; position: relative; }
        section #ad_container { width: 100%; height: 130px; padding-top: 50px; display: flex; justify-content: space-around; margin: 0 auto; }
        #ad_container img { cursor: pointer; }

        section #line_container { display: flex; width: 640px; height: 50px; padding-top: 50px; font-family: 'GmarketSansMedium'; }
        #line_container .bottom_line1, .bottom_line2 { width: 220px; height: 22px; border-bottom: 1px solid #333; }
        #line_container p { font-size: 30px; }
        #line_container p a { color: red; }


        #recommend_slide { width: 640px; height: 250px; overflow: hidden; border-bottom: 1px solid lightgray; margin-top: 100px; }
        #recommend_slide p { background-color: gainsboro; font-size: 14px; text-align: center; }
        #recommend_slide img { width: 120px; height: 174px; }
        #recommend_slide div { width: 300px; font-family: 'Eulyoo1945-Regular'; }
        #recommend_slide div img { width: 91px; height: 24px; }
        #recommend_slide ul { width: 2000px; height: 200px; }
        #recommend_slide ul li { width: 500px; height: 200px; float: left; display: flex; justify-content: space-around;  }

        section .left { position: absolute; top: 38%; left: -5%; cursor: pointer; }
        section .right { position: absolute; top: 38%; right: 27%; cursor: pointer; }

        section .ad_box4 { width: 219px; height: 332px; background-color: gainsboro; position: absolute; top: 25%; right: 0%; border-top: 1px solid #333;; }

        section .over_text1 { cursor: pointer; font-size: 13px; position: absolute; top: 30%; right: 37% }
        section .over_text2 { font-size: 13px; position: absolute; top: 22%; right: 12.5%; }

        section .ad_box5 { width: 92px; height: 200px; border: 1px solid lightgray; position: absolute; top: 35%; left: -22%; }
        .ad_box5 .ad_prev, .ad_next { width: 30px; height: 30px; cursor: pointer; }

        section .ad_box6 { width: 80px; height: 130px; position: absolute; top: 70%; left: -22%; cursor: pointer;  }
        
        #section2 { width: 980px; height: 550px; margin: 0 auto; position: relative; display: flex; flex-wrap: wrap; }
        #section2 h3 a { color: red; }
        #section2 h3 { font-family: 'GmarketSansMedium'; }

        #section2 #book_container1 { width: 37.5%; height: 350px; display: flex; flex-wrap: wrap; }
        #section2 #book_container2 { width: 37.5%; height: 350px; display: flex; flex-wrap: wrap; }
        #section2 #book_container3 { width: 25%; height: 350px; display: flex; flex-wrap: wrap; }
        #section2 .book_box1, .book_box2, .book_box3 { width: 100%; height: 100%; border: 1px solid lightgray; }

        #book_container .book_box2, .book_box3 { display: none; text-align: center; }

        #section2 #dot_container { position: absolute; top: 6%; left: 53% }
        .dot { cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; 
               transition: background-color 0.5s ease; }

        #section2 #dot_container2 { position: absolute; top: 6%; left: 80% }
        .dot2 { cursor: pointer; height: 15px; width: 15px; margin: 0 2px; background-color: #bbb; border-radius: 50%; display: inline-block; 
                      transition: background-color 0.5s ease; }

        .active_dot { background-color: skyblue; }
        
        #section2 .section2_subject1 { position: absolute; top: 0; left: 38%; }
        #section2 .section2_subject2 { position: absolute; top: 0; right: 13%; }

        #section2 .login_box { width: 100%; height: 145px; padding-top: 10px; cursor: pointer; }

        #section3 { width: 980px; height: 600px; margin: 0 auto; }
        #section3 #line_container2 { width: 100%; height: 25px; display: flex;}
        #line_container2 .bottom_line3, .bottom_line4 { width: 400px; height: 25px; border-bottom: 1px solid #333; }
        #line_container2 p { font-size: 30px; font-family: 'GmarketSansMedium'; }
        #line_container2 p a { color: red; }

        #section3 #section3_menu { width: 100%; height: 50px; margin-top: 50px; display: flex; justify-content: space-around; border-bottom: 1px solid lightgray; }
        #section3_menu li { float: left; cursor: pointer; }