@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
section {
  width: 100%;
  height: 7600px;
}
section #location_container {
  width: 100%;
  height: 50px;
  background: #f4f4f4;
}
section #location_container #location_contents {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
section #location_container #location_contents .location {
  width: 100%;
  height: 100%;
  display: flex;
}
section #location_container #location_contents .location li {
  float: left;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
}
section #subject_container {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #f4f4f4;
}
section #subject_container #subject_contents {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
section #subject_container #subject_contents h1 {
  margin-top: 25px;
  font-size: 35px;
  font-family: "NanumBarunGothic";
}
section #subject_container #subject_contents p {
  font-size: 14px;
}
section #section_contents1 {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
section #section_contents1 .contentBox1 {
  width: 280px;
  height: 100%;
  margin-top: 25px;
  text-align: center;
}
section #section_contents1 .contentBox1 > img {
  width: 100%;
  cursor: zoom-in;
}
section #section_contents1 .contentBox1 button {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px #f2f2f2;
  margin-top: 25px;
  cursor: pointer;
}
section #section_contents1 .contentBox2 {
  width: 680px;
  height: 100%;
}
section #section_contents1 .contentBox2 h5 {
  font-size: 14px;
  margin-left: 50px;
}
section #section_contents1 .contentBox2 h5 a {
  font-weight: 300;
}
section #section_contents1 .contentBox2 h5:nth-of-type(1) {
  margin-top: 30px;
  font-family: "NanumBarunGothic";
}
section #section_contents1 .contentBox2 h5:nth-of-type(2) {
  margin-bottom: 20px;
  font-family: "NanumBarunGothic";
}
section #section_contents1 .contentBox2 p:nth-of-type(1) {
  margin-top: 10px;
  margin-left: 50px;
  color: #555;
}
section #section_contents1 .contentBox2 p:nth-of-type(2) {
  margin-top: 3px;
  margin-left: 50px;
  color: #555;
}
section #section_contents1 .contentBox2 div {
  width: 100%;
  height: 50px;
  margin-left: 50px;
}
section #section_contents1 .contentBox2 div a {
  color: #f26532;
}
section #section_contents1 .contentBox2 div img {
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 25px;
  cursor: pointer;
}
section #section_contents1 .contentBox2 div img:nth-of-type(1) {
  margin-left: 0;
}
section #section_contents1 .contentBox2 table {
  width: 300px;
  height: 200px;
  margin-left: 50px;
  border: 1px solid #eaeaea;
}
section #section_contents1 .contentBox2 table td {
  width: 50%;
  font-size: 14px;
}
section #section_contents1 .contentBox2 table td:nth-of-type(1) {
  font-weight: bold;
  font-family: "NanumBarunGothic";
}
section #section_contents1 .contentBox2 > span:nth-of-type(1), section #section_contents1 .contentBox2 > span:nth-of-type(2) {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
section #section_contents1 .contentBox2 > span:nth-of-type(1):hover, section #section_contents1 .contentBox2 > span:nth-of-type(2):hover {
  border: 1px solid #F26C3B;
}
section #section_contents1 .contentBox2 > span:nth-of-type(1) {
  margin: 20px 50px;
  width: 50px;
  height: 50px;
}
section #section_contents1 .contentBox2 > span:nth-of-type(2) {
  margin-right: 50px;
  width: 50px;
  height: 50px;
}
section #section_contents1 .contentBox2 span img {
  vertical-align: middle;
  margin-left: 3px;
  margin-top: 3px;
}
section #section_contents1 .contentBox2 button {
  width: 110px;
  height: 50px;
  background-color: #f26532;
  border: #ea4d14;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
  border-radius: 4px;
}
section #section_contents1 .contentBox2 button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ea4509;
  top: -100%;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0.4;
  z-index: -1;
}
section #section_contents1 .contentBox2 button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ea4509;
  top: -100%;
  left: 0;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  z-index: -1;
}
section #section_contents1 .contentBox2 button:hover::before, section #section_contents1 .contentBox2 button:hover::after {
  top: 0;
}
section #popup_box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 15;
}
section #popup_box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section #section_anchor {
  width: 100%;
  height: 80px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #d1d8e4;
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10;
}
section #section_anchor #anchor_contents {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
section #section_anchor #anchor_contents .anchor_menu {
  width: 100%;
  height: 100%;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}
section #section_anchor #anchor_contents .anchor_menu li {
  text-align: center;
  width: 25%;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
}
section #section_anchor #anchor_contents .anchor_menu li a {
  color: #333;
  padding: 28px 15px;
  position: relative;
  font-family: "NanumBarunGothic";
}
section #section_anchor #anchor_contents .anchor_menu li a:visited {
  color: #333;
}
section #section_anchor #anchor_contents .anchor_menu li a.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #f26532;
  width: 100%;
  height: 4.5px;
  transition: transform 0.5s;
  transform: scaleX(1);
  transform-origin: center;
}
section #introduce_contents {
  width: 1080px;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
section #introduce_contents h3 {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  font-family: "NanumBarunGothic";
}
section #bookImage_space {
  width: 690px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}
section #bookImage_space #image_button {
  width: 690px;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #F26C3B;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px #f2f2f2;
  border: 1px solid #c1c1c1;
}
section #ajax_dataBox1 {
  width: 900px;
  height: 285px;
  margin: 0 auto;
}
section #ajax_dataBox1 h3 {
  margin-top: 50px;
  color: #F26C3B;
}
section #ajax_dataBox1 p {
  font-size: 14px;
  color: #555;
}
section #ajax_dataBox2 {
  width: 900px;
  height: 615px;
  margin: 0 auto;
}
section #ajax_dataBox2 h3 {
  margin-top: 50px;
  color: #F26C3B;
}
section #ajax_dataBox2 .subject_li {
  font-weight: bold;
}
section #ajax_dataBox2 p:nth-of-type(2), section #ajax_dataBox2 p:nth-of-type(3), section #ajax_dataBox2 p:nth-of-type(4), section #ajax_dataBox2 p:nth-of-type(5), section #ajax_dataBox2 p:nth-of-type(6) {
  font-size: 14px;
  color: #333;
}
section #ajax_dataBox2 ul li ul li {
  font-size: 14px;
  font-weight: normal;
  color: #333;
}
section #ajax_dataBox3 {
  width: 900px;
  height: 545px;
  margin: 0 auto;
}
section #ajax_dataBox3 h3 {
  margin-top: 50px;
  color: #F26C3B;
}
section #ajax_dataBox3 p:nth-of-type(3) {
  font-size: 13px;
  color: #555;
}
section #ajax_dataBox3 p:nth-of-type(5) {
  font-size: 13px;
  color: #555;
}
section #assessment_space {
  width: 900px;
  height: 605px;
  margin: 0 auto;
}
section #assessment_space h3 {
  font-family: "NanumBarunGothic";
}
section #assessment_space h3 a {
  color: #f26532;
  font-family: "NanumBarunGothic";
}
section #assessment_space .review_textArea {
  margin-bottom: 30px;
  margin-top: 15px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 17px;
  text-align: center;
  box-shadow: 0 3px #fbfbfb;
  width: 100%;
  padding-bottom: 40px;
}
section #assessment_space .review_textArea p {
  color: #909090;
}
section #assessment_space .review_textArea .toggle_button {
  width: 190px;
  height: 50px;
  margin-top: 20px;
  background-color: #f26532;
  border: #ea4d14;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 0;
  box-sizing: border-box;
  border-radius: 4px;
}
section #assessment_space .toggle_button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ea4509;
  top: -100%;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0.4;
  z-index: -1;
}
section #assessment_space .toggle_button::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ea4509;
  top: -100%;
  left: 0;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  z-index: -1;
}
section #assessment_space .toggle_button:hover::before, section #assessment_space .toggle_button:hover::after {
  top: 0;
}
section #assessment_space .review_space {
  display: none;
  width: 865px;
  height: 335px;
}
section #assessment_space .review_space textarea {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  background: #f4f4f4;
  padding: 24px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  overflow: auto;
}
section #assessment_space .review_space .regist_button, section #assessment_space .review_space .cancel_button {
  margin-left: 100px;
  background-color: #fff;
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 2px #f2f2f2;
}
section #assessment_space .review_space .cancel_button {
  margin-left: 0;
}
section #assessment_space .review_space input {
  margin-top: 20px;
}
section #review_tab {
  width: 900px;
  height: 320px;
  margin: 0 auto;
  border-bottom: 1px solid #cdced1;
  position: relative;
  margin-bottom: 150px;
}
section #review_tab p {
  position: absolute;
  top: 50%;
  left: 30%;
}
section #review_tab #tab {
  width: 100%;
  height: 40px;
  background: rgb(240, 240, 240);
  border-top: 2px solid gray;
  border-bottom: 1px solid #cdced1;
}
section #review_tab #tab li {
  border: 1px solid #cdced1;
  font-weight: 600;
  display: block;
  width: 20%;
  height: 100%;
  border-bottom: none;
  background: #fff;
  text-align: center;
}
section #review_tab #tab li a {
  line-height: 40px;
  cursor: pointer;
  font-family: "NanumBarunGothic";
}
section .ajax_subject1, section .ajax_subject2 {
  border-bottom: 2px solid #f0eef2;
  padding-top: 15px;
  margin: 0 auto;
  width: 900px;
  font-family: "NanumBarunGothic";
}
section #ajax_container1 {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
section #ajax_container1 h4 {
  font-family: "NanumBarunGothic";
}
section #ajax_container1 h5 {
  color: #999;
}
section #ajax_container1 .ajax_box1, section #ajax_container1 .ajax_box2, section #ajax_container1 .ajax_box3, section #ajax_container1 .ajax_box4, section #ajax_container1 .ajax_box5 {
  width: 20%;
  height: 100%;
}
section #ajax_container2 {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}
section #ajax_container2 h4 {
  font-family: "NanumBarunGothic";
}
section #ajax_container2 h5 {
  color: #999;
}
section #ajax_container2 .ajax_box6, section #ajax_container2 .ajax_box7, section #ajax_container2 .ajax_box8, section #ajax_container2 .ajax_box9, section #ajax_container2 .ajax_box10 {
  width: 20%;
  height: 100%;
}
section #ebook_explain {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  background: #f4f4f4;
  border-radius: 4px;
  padding: 30px 36px;
  margin-top: 50px;
}
section #ebook_explain h3 {
  margin-bottom: 10px;
  font-family: "NanumBarunGothic";
}
section #ebook_explain ul li {
  list-style: square;
  font-size: 14px;
  color: #666;
}