section {
  width: 100%;
  height: 5000px;
}
section #location_container {
  width: 100%;
  height: 50px;
  background: #f4f4f4;
}
section #location_container #location_contents {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
section #location_container #location_contents .location {
  width: 100%;
  height: 100%;
  display: flex;
}
section #location_container #location_contents .location li {
  float: left;
  padding: 0 15px;
  line-height: 50px;
  cursor: pointer;
}
section #subject_container {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #f4f4f4;
}
section #subject_container #subject_contents {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
section #subject_container #subject_contents h1 {
  margin-top: 25px;
  font-size: 35px;
}
section #subject_container #subject_contents p {
  font-size: 14px;
}
section #section_contents1 {
  width: 980px;
  height: 500px;
  margin: 0 auto;
  display: flex;
}
section #section_contents1 .contentBox1 {
  width: 280px;
  height: 100%;
  margin-top: 25px;
  text-align: center;
}
section #section_contents1 .contentBox1 > img {
  width: 100%;
}
section #section_contents1 .contentBox1 button {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 2px 2px 2px gray;
  margin-top: 25px;
  cursor: pointer;
}
section #section_contents1 .contentBox2 {
  width: 680px;
  height: 100%;
}
section #section_contents1 .contentBox2 h5 {
  font-size: 14px;
  margin-left: 50px;
}
section #section_contents1 .contentBox2 h5 a {
  font-weight: 300;
}
section #section_contents1 .contentBox2 h5:nth-of-type(1) {
  margin-top: 30px;
}
section #section_contents1 .contentBox2 h5:nth-of-type(2) {
  margin-bottom: 20px;
}
section #section_contents1 .contentBox2 p:nth-of-type(1) {
  margin-top: 10px;
  margin-left: 50px;
  color: #555;
}
section #section_contents1 .contentBox2 p:nth-of-type(2) {
  margin-top: 3px;
  margin-left: 50px;
  color: #555;
}
section #section_contents1 .contentBox2 div {
  width: 100%;
  height: 50px;
  margin-left: 50px;
}
section #section_contents1 .contentBox2 div a {
  color: #f26532;
}
section #section_contents1 .contentBox2 div img {
  vertical-align: middle;
  margin-right: 3px;
  margin-left: 25px;
}
section #section_contents1 .contentBox2 div img:nth-of-type(1) {
  margin-left: 0;
}
section #section_contents1 .contentBox2 table {
  width: 300px;
  height: 200px;
  margin-left: 50px;
  border: 1px solid #eaeaea;
}
section #section_contents1 .contentBox2 table td {
  width: 50%;
  font-size: 14px;
}
section #section_contents1 .contentBox2 table td:nth-of-type(1) {
  font-weight: bold;
}
section #section_contents1 .contentBox2 > span:nth-of-type(1), section #section_contents1 .contentBox2 > span:nth-of-type(2) {
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
}
section #section_contents1 .contentBox2 > span:nth-of-type(1) {
  margin: 20px 50px;
}
section #section_contents1 .contentBox2 > span:nth-of-type(2) {
  margin-right: 50px;
}
section #section_contents1 .contentBox2 span img {
  vertical-align: middle;
}
section #section_contents1 .contentBox2 button {
  width: 100px;
  height: 50px;
  background-color: #f26532;
  border: #ea4d14;
  color: #fff;
  cursor: pointer;
}
section #section_anchor {
  width: 100%;
  height: 80px;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #d1d8e4;
}
section #section_anchor #anchor_contents {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
section #section_anchor #anchor_contents .anchor_menu {
  width: 100%;
  height: 100%;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}
section #section_anchor #anchor_contents .anchor_menu li {
  float: left;
  width: 25%;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
}
section #introduce_contents {
  width: 1080px;
  height: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}
section #introduce_contents h3 {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
section #bookImage_space {
  width: 690px;
  height: 2950px;
  margin: 0 auto;
  margin-top: 50px;
}
section #ajax_dataBox1 {
  width: 900px;
  height: 285px;
  margin: 0 auto;
}
section #ajax_dataBox1 h3 {
  margin-top: 50px;
}
section #ajax_dataBox2 {
  width: 900px;
  height: 615px;
  margin: 0 auto;
}
section #ajax_dataBox2 h3 {
  margin-top: 50px;
}
section #ajax_dataBox3 {
  width: 900px;
  height: 545px;
  margin: 0 auto;
}
section #ajax_dataBox3 h3 {
  margin-top: 50px;
}